/* Header*/
.header {
  background-image: linear-gradient(to bottom, violet, pink, white);
}

.titulo h1 span {
  color: $violeta;
}

.div-logo {
  text-align: center;
}

.div-logo img {
  width: 100px + 100; /* Operacion con SASS*/
}

/*Menú de navegación*/

.navbar-light {
  background-image: $Navegacion;

  .nav-item {
    padding: 5px;

    .nav-link {
      font-family: $fuente;
      font-size: 1.6rem;
      color: rgb(44, 0, 0);
      font-weight: 700;
    }
    a:hover {
      background-image: $Navegacion;
      border-radius: 50%;
      font-size: 2rem;
      cursor: pointer;
      transition: 1s;
    }
  }
}
